<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {% for x in data %}
            <input type="text" name="title" value="{{x.title}}">
            <input type="text" name="desc" value="{{x.description}}">
            <input type="text" name="price" value="{{x.price}}">
            <input type="submit" value="Update">
        {% endfor %}



    </form>



</body>
</html>